.project {
  // height: 700px;
  padding-block: 20px;
  background-color: hsla(283, 100%, 18%, 0.144);
  margin-block: 100px;
  //  Project's Name
  h2 {
    color: #fff;
    // text-shadow: 0 0 1px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
    font-family: "Lobster", cursive;
  }

  //  img.shields.io
  &__github-repo-info {
    // outline: 2px red solid;  ////////
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img {
      margin: 4px;
    }
  }

  //  Everything here
  &__inner-container {
    // outline: 2px blue solid; ////////
    width: 800px;
    margin-inline: auto;
  }
}
