.project__inner-container__yt-review {
  padding-block: 20px;
  // outline: 2px rgb(0, 255, 21) solid; ////////
  display: flex;
  justify-content: center;
  iframe {
    width: 800px;
    height: 420px;
  }
}
