body.project-history nav,
body.project-code-analytics nav {
  // background-color: hsla(0, 0%, 88%, 0.185);
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(0.3rem);
  backdrop-filter: blur(0.3rem);
  border: solid 1px transparent;
  border-bottom-color: rgba(255, 255, 255, 0.116);

  a {
    // outline: 1px solid red; /////
    text-decoration: none;
    color: #00b1dd;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Lobster", cursive;
    text-align: center;
    padding-inline: 20px;
    &:hover {
      text-shadow: 0 0 2px;
    }
  }
}
